@import url("https://fonts.googleapis.com/css?family=Roboto");

html, body {
    max-height: 100%;
    max-width: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #042734;
}

.wrapper {
    display: grid;
    display: -ms-grid;
    grid-template-areas:    "header"
                            "main"
                            "footer";
}

.header {
    grid-area: header;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    justify-items: center;
    background-color: #06021D;
}

.header img {
    height: 50px;
    width: 50px;
    margin: .5em;
    box-sizing: border-box;
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
}

.header h1 {
    margin: .5em;
    padding: 0;
    font-size: 1.4em;
    color: #ffffff;
}

nav {
    background-color:#06021D;
}

nav .nav-wrapper{
    background-color:#06021D;
    border: none;
    box-shadow: none;
    float: left;
}

.content {
    color: #000205;
    font-size: 1.3rem;
    grid-area: main;
    margin: 0;
    text-align: center;
    height: 100%;
    width: 100%;
    position: absolute;
    display: grid;
    grid-template-columns: 1fr; 
    align-items: center;
}


.social {
    margin: 30px;
}

.social a {
    color: #06021D;
}

.fab {
    color: #06021D;
}

.collection {
    margin: .5rem;
    text-align: left;
}

.collection p {
    font-size: .7em;
}

em {
    font-weight: bolder;
    text-decoration: underline;
    line-height: 1em;
}

.title {
    font-weight: bold;
}

.card-panel {
    align-self: center;
    margin: 0 auto;
    width: 100%;
    margin: 5px;
}

.footer {
    color: #ffffff;
    grid-area: footer;
    text-align: center;
    padding: 1em;
    background-color: #06021D;
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    font-size: .8em;
}

@media only screen and (min-width: 769px) {
    .wrapper {
        grid-template-areas: "nav main"
                            "nav main"
                            "nav main";
    }

    .header {
        top: 0;
        width: 250px;
        height: 100vh;
        grid-area: nav;
        display: flex;
        display: -webkit-flex;
        flex-direction: column;
        align-items: center;
        z-index: 1;
    }

    .header img {
        height: 100px;
        width: 100px;
        margin: 0;
        order: 1;
    }
    
    .header h1 {
        font-size: 2em;
        order: 2;
    }

    .nav-wrapper ul {
        margin-top: 250px;
        max-width: 250px;
        grid-area: nav;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        font-size: 2em;
        align-content: center;
    }

    .nav-wrapper ul li a{
        width: 250px;
        text-align: center;
    }

    .nav-wrapper ul li a i {
        font-size: 20px;
        float: left;
        margin: 0;
        margin-left: 30px;
    }

    .nav-wrapper ul .act {
        background-color: #06514B;
    }

    .nav-wrapper ul li a:hover{
        background-color: #06514B;
    }

    .content {
        grid-area: main;
        right: 0;
        margin-left: 250px;
        width: calc(100vw - 250px);
    }

    .social {
        margin-left: 350px;
        margin-right: 350px;
    }

    .social a {
        color: #06021D;
    }

    .social a:hover :nth-child(1) {
        color: #06514B;
    }   
    
    .social a:hover {
        color: #06514B;
    }

    .card-panel {
        align-self: end;
        margin: 5px;
    }

    .collection {
        margin: 5rem;
        text-align: left;
    }

    .collection p {
        font-size: .7em;
    }

    .footer {
        max-width: 250px;
        grid-area: nav;
        z-index: 1;
    }
}

@media only screen and (min-width: 1397px) {
    .content {
        margin-left: 470px;
        width: calc(100vw - 250px);
    }
}
