@import url("https://fonts.googleapis.com/css?family=Fira+Code&display=swap");

html,
body {
	width: 100%;
	height: 100%;
	margin: 0;
	font-family: "Fira Code";
	background-color: #042734;
	color: #fefefe;
}

main {
	height: 100%;
	display: flex;
	display: -ms-flexbox;
	flex-flow: row wrap;
	align-items: center;
	justify-content: center;
}

.container {
	display: flex;
	flex-direction: column;
	background-color: #ddd;
	padding: 1.2rem;
	width: 50vw;
	position: absolute;
	border-radius: 5px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.container img {
	position: absolute;
	bottom: 90%;
	align-self: center;
	display: block;
	width: 120px;
	border: 1px solid #042734;
	border-radius: 50%;
}

.small {
	font-size: 10px;
}

.container h1,
h5 {
	color: #FEFEFE;
	align-self: center;
}

.myProgress {
	margin-top: 5px;
	margin-bottom: 5px;
	width: 100%;
	background-color: #fff;
	border-radius: 5px;
}

#python {
	width: 70%;
	height: 30px;
	background-color: #042734;
	text-align: center;
	line-height: 30px;
	color: white;
	border-radius: 5px;
}

#javascript {
	width: 85%;
	height: 30px;
	background-color: #042734;
	text-align: center;
	line-height: 30px;
	color: white;
	border-radius: 5px;
}

#csharp {
	width: 60%;
	height: 30px;
	background-color: #042734;
	text-align: center;
	line-height: 30px;
	color: white;
	border-radius: 5px;
}

#java {
	width: 65%;
	height: 30px;
	background-color: #042734;
	text-align: center;
	line-height: 30px;
	color: white;
	border-radius: 5px;
}

.container-btn {
	margin-top: 10px;
	display: flex;
	flex-direction: row;
	background-color: #ddd;
	padding: 1.2rem;
	flex-wrap: wrap;
	border-radius: 5px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.container-btn button {
	width: 50%;
	padding: 10px;
	font-family: "Fira Code";
	font-size: 15px;
	border-radius: 5px;
	color: #042734;
	border: 1px #042734 solid;
	background-color: #ddd;
}

.container-btn button:hover {
	color: #ddd;
	background-color: #042734;
}

.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0, 0, 0); /* Fallback color */
	background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
	border-radius: 5px;
	height: 100%;
}

.modal-content {
	background-color: #fefefe;
	margin: 2% auto; /* 15% from the top and centered */
	padding: 20px;
	border: 1px solid #888;
	border-radius: 5px;
	width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

/* The Close Button */
.close2 {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close2:hover,
.close2:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

a {
	text-decoration: none;
}

.github {
	margin: 25px;
	border: #042734 solid 1px;
	border-radius: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 5px;
	color: #042734;
}
.github:hover {
	background-color: #042734;
	color: #ddd;
}

.github a {
	color: #042734;
}

/* .conts {
	display: flex;
	flex-direction: row;
	text-align: center;
	margin-bottom: 50px;
} */

.contato h1 {
	text-align: center;
	margin-bottom: 1em;
}

.conts .ct {
	height: 20px;
	width: 20px;
	color: #fefefe;
	margin-left: auto;
	margin-right: auto;
	align-self: center;
	border: 1px solid #042734;
	border-radius: 5px;
}

.conts .ct p {
	font-size: 1rem;
	margin-bottom: 1rem;
}

.fab {
	font-size: 1.5rem;
}
